<%-include("./partials/header")%>
    <h1>This is Food Details Page</h1>
    <h1><%=food.foodName%></h1>
    <img src="/images/<%=food.foodImage%>" alt="">
    <h2><%=food.foodPrice%></h2>
    <%-include("./partials/footer")%>